@import "variables.css";

.pagewrapper {
    width: var(--contactwrapper-width);
    height: var(--contactwrapper-height);
}

    .pagewrapper .content {
        position:relative;
        top:var(--contactwrapper-content-top);
        height:var(--contactwrapper-content-height);
    }
