@import "variables.css";

.pagewrapper {
    width: var(--contactwrapper-width);
    height: var(--contactwrapper-height);
}

    .pagewrapper .content {
        position:relative;
        top:var(--contactwrapper-content-top);
        height:var(--contactwrapper-content-height);
    }

    .pagewrapper .content {
        position: relative;
        top: 10%;
        height: 80%;
        width: 60%;
        padding: 20px;
        font-family: Raleway-Regular;
        font-size: 15px;
        color: white;
    }

        .pagewrapper .content .header {
            font-family: Raleway-Heavy;
            font-size: 16px;
            color: white;
        }
